---
// Logo.astro
const { width = "58", height = "36", className } = Astro.props;
---
<a href="#" class={className}>
<svg 
  width={width} 
  height={height} 
  viewBox="0 0 79 36" 
  fill="#0f172a" 
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_167_12)">
    <path d="M6.4366 35.5592H0L5.30925 8.16607H11.464L10.9809 10.8207C12.6974 8.64787 14.8823 7.56213 17.3772 7.56213C19.6024 7.56213 21.3524 8.40093 22.6261 10.0758C23.8997 11.7521 24.5372 13.9034 24.5372 16.5312C24.5372 18.1135 24.3359 19.6422 23.9332 21.1171C23.5306 22.592 22.9334 23.9596 22.1429 25.2198C21.3511 26.48 20.2922 27.492 18.9649 28.2569C17.6376 29.0206 16.1291 29.4031 14.4394 29.4031C11.57 29.4031 9.55826 28.2905 8.40542 26.064L6.4366 35.5592ZM13.0329 24.4978C14.1589 24.4978 15.1051 24.0898 15.8687 23.2711C16.6323 22.4538 17.1692 21.5009 17.4779 20.4152C17.7865 19.3295 17.9409 18.1967 17.9409 17.0157C17.9409 15.7823 17.6725 14.7503 17.1356 13.9182C16.5988 13.0875 15.7412 12.6714 14.5615 12.6714C12.9792 12.6714 11.719 13.4431 10.7809 14.9838C9.84144 16.5259 9.37306 18.2088 9.37306 20.0314C9.37306 21.2647 9.67503 22.3183 10.2776 23.1893C10.8802 24.0616 11.7995 24.4978 13.0329 24.4978Z" fill="#0f172a"/>
    <path d="M24.575 28.7611L28.5582 8.16565H34.9935L31.0115 28.7611H24.575Z" fill="#0f172a"/>
    <path d="M44.9291 29.403C42.0866 29.403 39.7406 28.6393 37.8899 27.1107C36.0392 25.5821 35.1145 23.3032 35.1145 20.2728C35.1145 16.7606 36.1935 13.7705 38.3529 11.3024C40.511 8.83566 43.3334 7.60229 46.8201 7.60229C49.4479 7.60229 51.5804 8.2532 53.2164 9.55367C54.8511 10.8541 55.7234 12.8324 55.8308 15.487H49.6358C49.4479 13.4229 48.4561 12.3895 46.659 12.3895C45.0231 12.3895 43.7628 13.2216 42.8784 14.8831C41.994 16.5459 41.5511 18.3832 41.5511 20.3936C41.5511 23.1556 42.7174 24.5366 45.0512 24.5366C47.1153 24.5366 48.4561 23.3435 49.0734 20.9573H55.2282C54.7182 23.5851 53.5318 25.6438 51.669 27.1322C49.8022 28.6192 47.5569 29.3761 44.9291 29.403Z" fill="#0f172a"/>
    <path d="M79.0004 8.16519H71.5183L64.4388 15.4057L67.4156 0H61.0608L55.51 28.7607H61.8647L63.031 22.767L79.0004 8.16519Z" fill="#0f172a"/>
    <path d="M65.5859 20.5865H73.1955L76.9399 28.7772H69.3303L65.5859 20.5865Z" fill="#0f172a"/>
  </g>
  <defs>
    <clipPath id="clip0_167_12">
      <rect width="79.0003" height="35.5592" fill="white"/>
    </clipPath>
  </defs>
</svg>
</a>