---
import Logo from "@/assets/icons/Logo.astro";
import { Button } from "../buttons/Button";
---

<div x-data="{ footerNavs: [
{ href: 'javascript:void()', name: 'Terms' },
{ href: 'javascript:void()', name: 'License' },
{ href: 'javascript:void()', name: 'Privacy' },
{ href: 'javascript:void()', name: 'About us' }
]}">
<footer class="pt-10">
    <div class="max-w-screen-xl mx-auto px-4 text-gray-600 md:px-8">
        <div class="flex justify-between items-center">
            <div class="flex items-center justify-center">
                <Logo/>
            </div>
            <div class="items-center gap-x-3 space-y-3 sm:flex sm:justify-center sm:space-y-0">
                <Button>Cotizar ahora</Button>
                <Button variant={'ghost'}>Ver proyectos &rarr;</Button>
                </a>
            </div>
        </div>
        <div class="mt-10 py-10 border-t items-center justify-between sm:flex">
            <p>© 2022 Float UI Inc. All rights reserved.</p>
            <ul class="flex flex-wrap items-center gap-4 mt-6 sm:text-sm sm:mt-0">
                <template x-for="(item, idx) in footerNavs" :key="idx">
                    <li class="text-gray-800 hover:text-gray-500 duration-150">
                        <a x-bind:href="item.href" x-text="item.name"></a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
</footer>
</div>