---
import { Button } from "../buttons/Button.jsx";
import Clients from "./Clients.astro";
import AnimatedGradientText from "../magicui/animated-gradient-text";
import WordPullUp from "../magicui/word-pull-up";
---

<section class="">
  <div class="flex flex-col items-center justify-center w-full gap-8 pt-20 pb-4">
    <AnimatedGradientText className="tracking-wide"
      >âœ¨ | Estamos disponibles
    </AnimatedGradientText>
    <div class="gap-6 flex flex-col text-center px-8 md:max-w-4xl lg:max-w-5xl">
      <WordPullUp
        client:load
        className="text-pretty font-semibold text-3xl md:text-5xl lg:text-6xl "
        words="Â¡Hola! ðŸ‘‹ðŸ¼ Somos pick. Desarrollamos productos digitales de alta calidad. "
      />
      <p class="font-medium tracking-wide text-lg lg:text-2xl md:text-xl">
        Contanos sobre tu idea y hagamoslo realidad, no pierdas mas tiempo.
      </p>
    </div>
    <div class="flex flex-col md:flex-row lg:flex-row gap-2">
      <Button className="tracking-wide"
        >Coticemos tu proyecto</Button
      >
      <Button variant={"ghost"} className="tracking-wide"
        >Ver casos de estudio</Button
      >
    </div>
  </div>
<Clients/>

</section>
